:root {
    --violet: #39184A;
    --indigo: #541875;
    --eminence: #703E8B;
    --gris: #D5D5D5;
    --blanc: #ffffff;
}

@font-face {
    font-family: 'antipastoBold';
    src: url('font/Antipasto-Pro-ExtraBold-trial.ttf') format('truetype');
}

@font-face {
    font-family: 'antipastoRegular';
    src: url('font/Antipasto-Pro-Regular-trial.ttf') format('truetype');
}

h1 {
    font-size: 60px;
    color: var(--indigo);
}

h2 {
    font-size: 54px;
    color: var(--violet);
}

h3 {
    font-size: 40px;
    color: var(--indigo);
}

h4 {
    font-size: 30px;
    color: var(--violet);
}

h5 {
    font-size: 25px;
    color: var(--violet);
}

h6 {
    font-size: 20px;
    color: var(--violet);
}

/*--Styles--*/

.navbar{
    background-color: #703E8B;
}

footer{
    padding: 1rem;
   margin-top: 1rem;
   background-color: #703E8B;
}

p{
    margin: 0;
    color: white;
}

.github{
    text-decoration: none;
    color: white;
}

.github:hover{
    color: var(--violet);
}

/*--Généraux--*/

/*--Section Héros--*/

.titre{
    display: block;
    align-items: center;
}

.row{
    align-items: center;
}

.phone{
    width: 100%;
    aspect-ratio: 5/9;
}

.card-img{
    height: 20vh;
    object-fit: cover;
}

.card-header{
    font-size: 26px;
    text-decoration: none;
}

.fa{
    font-style: normal;
    font-size: 16px;
}

.img-link{
    text-decoration: none;
    color: var(--violet);
}